#ID_DIV{
    background-color: aqua;
    width: 300px;
    font-size: 18px;
    height: 100px;
}
.CLASS_DIV{
    background-color: palegreen;
    width: 300px;
    font-size: 25px;
    height: 200px;
    border: 10px solid rgb(252, 207, 9);
}
/*div{
    border: 10px solid rgb(76, 0, 255);
    width: 300px;
    height: 300px;
    margin-top: 4px;
}*/

#mt{
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-top: 30px;
}
#mb{
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-bottom: 30px;
}
#mr{
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-right: 30px;
}
#ml{
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-left: 30px;
}
#all-m{
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin: 30px 20px 30px 20px;
}

#pt{
    width: 200px;
    height: 200px;
    background-color: rgb(23, 2, 207);
    padding-top: 30px;
}
#pb{
    width: 200px;
    height: 200px;
    background-color: rgb(196, 255, 221);
    padding-bottom: 30px;
}
#pr{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 196, 196);
    padding-right: 30px;
}
#pl{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 196, 214);
    padding-left: 30px;
}
#all-p{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 196, 255);
    padding: 30px 20px 30px 20px;
    margin: 0px 0px 0px 0px;
}

/*Display*/

.block-element{
    display: block;
    width: 300px;
    height: 100px;
    background-color: blueviolet;
}

.inline-element{
    display: inline;
    background-color: lightslategray;
    width: 300px;
    height: 100px;
    margin-top: 10px;

}

.inline-block-element{
    display: inline-block;
    background-color: lightslategray;
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

.none-element{
    display: none;
}

/*Position*/

.static-box{
    background-color: aquamarine;
    position: static;
    height: 50px;

}
.relative-box{
    background-color: chartreuse;
    position: relative;
    top: 50px;
    left: 30px;
}
.fixed-box{
    background-color: rgb(173, 135, 222);
    position: fixed;
    top: 50px;
    left: 50px;
}
.parent{
    position: relative;
    top: 30px;
    border: 1px solid #ccc;
}
.absolute-box{
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: aliceblue;
}

/*Flex box horizontal*/
.flex-h-start{
    display:flex;
    justify-content: flex-start;
    background-color: aquamarine;
    margin-top: 10px;
}
.flex-h-center{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    align-content: center;
    height: 100px;
    margin-top: 10px;
}
.flex-h-end{
    display: flex;
    justify-content: end;
    background-color: aquamarine;
    margin-top: 10px;
}

/*Flex box vertical*/
.flex-v-start{
    display:flex;
    align-items: start;
    background-color: aquamarine;
    margin-top: 10px;
    height: 150px;
}
.flex-v-end{
    display: flex;
    align-items:  end;
    background-color: aquamarine;
    align-content: center;
    height: 150px;
    margin-top: 10px;
}
.flex-v-center{
    display: flex;
    align-items:  center;
    background-color: aquamarine;
    margin-top: 10px;
    height: 150px;
}
.flex-v-stretch{
    display: flex;
    align-items:  stretch;
    background-color: aquamarine;
    margin-top: 10px;
    height: 150px;
}
.flex-v-stretch>span{
    background-color: blue;
    border: 1px solid black;
}
.flex-v-start>span{
    background-color: blue;
    border: 1px solid black;
}